@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
  --color-primary:  #6b000d;
  --color-secondary: #ececde;
  --color-text: #121212;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0px;
  height: 100%;
  font-family: "Montserrat",
}

@font-face {
  font-family: 'Orliet Pro-Script';
  src: url('../fonts/orliet_pro_script-webfont.woff2') format('woff2'),
       url('../fonts/orliet_pro_script-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orliet Pro-Italic';
  src: url('../fonts/orliet_pro_italic-webfont.woff2') format('woff2'),
       url('../fonts/orliet_pro_italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}