<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quevedo - Official Website</title>
  <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body>
    <div class="error-screen">
        <div class="error-img">
            <img src="/assets/img/quevedo1.png" alt="moon">
        </div>
        <div class="error-content">
            <div></div>
            <p>Optimized for desktop. Please expand your window or use an appropriate screen.</p>
        </div>
    </div>
    <script src="/assets/js/new-error.js"></script>
</body>
</html>